:root {
	--color: #24BAA0;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 1056px;
	margin: 0 auto;
}

.section-title {
	font-size: 22px;
	text-transform: uppercase;
	padding-bottom: 20px;
	position: relative;
	margin-bottom: 45px;
}

.section-title:after {
	content: '';
	display: block;
	height: 7px;
	width: 325px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--color);
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

/* Label hidder */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

body {
	font-family: 'Raleway', sans-serif;
}

/*------------------------*/
/*----    LAYOUT    ------*/
/*------------------------*/


/*---------------------------------------------*/
/*---------------page-header-------------------*/
/*---------------------------------------------*/

.page-header {
	height: 40px;
	background: #000;
	z-index: 1000;
	position: relative;
}

.page-logo {
	display: inline-block;
}
.page-logo-link {
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 40px;
}

.page-logo-link span {
	color: var(--color);
}

.page-nav {
	float: right;
}

.page-nav-list-el {
	position: relative;
	display: inline-block;
}

.page-nav-list-link {
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 40px;
	padding: 0 20px;
}

.page-nav-list-link:hover {
	color: var(--color);
}

.page-nav-sublist {
	opacity: 0;
	visibility: hidden;

	position: absolute;
	min-width: 150px;
	top: calc(100% + 10px);
	left: 50%;
	transform: translate(-50%, 0);
	padding: 15px;
	transition: 0.5s opacity;
	background: #000;
}

.page-nav-list-el:hover .page-nav-sublist {
	opacity: 1;
	visibility: visible;
}

.page-nav-sublist:before {
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	background: #000;
	left: 50%;
	top: 0;
	transform: translate(-50%, -50%) rotate(45deg);
}

.page-nav-sublist:after {
	content: '';
	position: absolute;
	left: 0;
	top: -10px;
	right: 0;
	height: 10px;
	background: transparent;
}

.page-nav-sublist-link {
	display: block;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	padding: 5px 0;

}

/*---------------------------------------------*/
/*---------------main-contact------------------*/
/*---------------------------------------------*/

.main-contact {
	padding: 40px 0;
}

.form-row {
	margin-bottom: 25px;
}
.form-left {
	width: 635px;
	float: left;
}
.form-right	{
	width: 345px;
	float: right;
}

.form-addon {
	height: 195px;
	background: url(../images/red_chair.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	margin-bottom: 35px;
}

.form input[type='text'],
.form input[type='email'],
.form textarea {
	font-family: 'Raleway', sans-serif;
	padding: 15px;
	font-size: 33px;
	transition: 200;
	border: 1px solid var(--color);
	width: 100%;
	transition: 0.4s box-shadow;
}

.form textarea {
	min-height: 190px;
	resize: vertical;
}

.form input[type='text']:focus,
.form input[type='email']:focus,
.form textarea:focus {
	box-shadow: inset 0 0 0 1px var(--color);
	outline: none;
}

.form ::-webkit-input-placeholder {
  color: #ccc;
}
.form ::-moz-placeholder {
  color: #ccc;
}
.form :-ms-input-placeholder {
  color: #ccc;
}
.form :-moz-placeholder {
  color: #ccc;
}

.checkbox {
	display: block;
	position: relative;
	padding-left: 60px;
	min-height: 48px;
	padding-top: 7px;
	color: #aaa;
	font-size: 18px;
	margin-bottom: 35px;
}
.checkbox-input {
	position: absolute;
	left: -999999px;
}

.checkbox-icon {
	width: 48px;
	height: 48px;
	border: 1px solid var(--color);
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
}

.checkbox-icon:after {
	content: '';
	background: url(../images/form_ok.jpg);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	height: 40px;
	width: 40px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0.5);
	opacity: 0;
	transition: 0.5s all;
}

.checkbox-input:checked + .checkbox-icon:after {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

.btn {
	font-size: 34px;
	color: #fff;
	background: var(--color);
	padding: 15px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 0;
	width: 100%;
	cursor: pointer;
}

/*---------------------------------------------*/
/*---------------main-banner-------------------*/
/*---------------------------------------------*/

.main-banner {
	background: linear-gradient(#fff, #ddd);
}

.banner {
	height: 500px;
	position: relative;
}

.banner-prev,
.banner-next {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100px;
	border: 0;
	background: none;
	font-size: 40px;
	color: var(--color);
	cursor: pointer;
}

.banner-prev,
.banner-next {
	outline: none;
}

.banner-next {
	left: auto;
	right: 0;
}
.banner-slides {
	height: 100%;
	margin: 0 100px;
	position: relative;
}
.banner-slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	font-size: 5rem;
	transition: 0.5s all;
}

.banner-slide--active {
	opacity: 1;
	z-index: 2;
}

.banner-slide-image {
	padding-top: 55px;
	margin-left: -20px;
	display: inline-block;
	float: left;
	width: 50%;
	height: auto;
}

.banner-slide-box {
	width: 50%;
	display: inline-block;
	float: left;
	text-align: center;
}

.banner-slide-box-title {
	font-size: 42px;
	text-transform: uppercase;
	padding: 120px 0 30px 0;
	font-weight: 400;
}

.banner-slide-box-title span {
	font-weight: 600;
	color: var(--color);
}

.banner-slide-box-text {
	color: #222;
	font-size: 16px;
	line-height: 1.5em;
	padding-bottom: 30px;
	text-align: center;

}

.banner-slide-box-btn {
	padding: 15px 40px;
	font-size: 24px;
	width: auto;
}


/*---------------------------------------------*/
/*---------------main-offer--------------------*/
/*---------------------------------------------*/

	
.main-offer {
	padding: 40px 0;
	background: #F1F1F1;
}

.main-offer .col-1-3 {
	width: 33.3333333333333333%;
	padding: 0 5px;
}

.offer-row {
	padding: 0 15px;
	display: flex;
}


/*---- Each box styling ----*/

.offer-box {
	width: 100%;
	height: 500px;
	background: #F9F9F9;
    border: 2px solid #D4D4D4;
	text-align: center;
	margin-bottom: 20px;
	padding: 20px 0;
	position: relative;

	display: flex;
	flex-direction: column;
}

.offer-box:before {
	content: '';
	width: 50px;	
	height: 50px;
	background: #fff;
	border: 2px solid #D4D4D4;
	border-radius: 50%;
	position: absolute;
	top: -35px;
	left: calc(50% - 25px);
}

.offer-box:after {
	content: '';
	width: 24px;	
	height: 24px;
	background: #BEBEBE;
	border-radius: 50%;
	position: absolute;
	top: -20px;
	left: calc(50% - 10px);
}

.offer-box-title {
	font-size: 24px;
	text-transform: uppercase;
	color: var(--color);
	margin: 5px 0 25px;
}

.offer-box-price {
	width: 125px;	
	height: 125px;
	background: #fff;
	color: #BEBEBE;
	font-weight: 600;
	border: 2px solid #D4D4D4;
	border-radius: 50%;
	margin: 0 auto 30px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.offer-box-price strong {
	display: flex;
}

.offer-box-price .large-n {
	font-size: 45px;
}
.offer-box-price .small-n {
	font-size: 16px;
	font-weight: 400;
}
.offer-box-price .currency-text {
	font-size: 16px;
	padding: 5px 0;
	text-align: center;
	text-transform: uppercase;
}

.offer-box-list {
	font-size: 24px;
	margin: 10px 0;
}

.offer-box-list li {
	background: #F1F1F1;
	color: #888888;
	padding: 10px 0;
}
.offer-box-list li:nth-of-type(odd) {
	background: #E4E4E4;
	color: #A9A9A9;
}

.offer-box-btn {
	margin-bottom: 10px;
	margin-top: auto;
}

.offer-box-btn .btn {
	width: 40%;
	font-size: 16px;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
}

/* ---- Second offer-box styling ---- */

.offer-box--special {
	background: var(--color);
	border-color: var(--color);
}

.offer-box--special:before {
	background: var(--color);
	border-color: var(--color);
}

.offer-box--special:after  {
	background: #fff;
}

.offer-box--special .offer-box-title {
	color: #fff;
}

.offer-box--special .offer-box-price {
	color: var(--color);
	border-color: var(--color);
}

.offer-box--special .offer-box-list li {
	color: #A9A9A9;
}

.offer-box--special .offer-box-list li:nth-of-type(odd) {
	background: #fff;
}

.offer-box--special .offer-box-btn .btn {
	color: var(--color);
	background: #fff;
}

/*---------------------------------------------*/
/*---------------main-category-----------------*/
/*---------------------------------------------*/

.main-categories {
	padding: 40px 0;
	background: #F1F1F1;
}

.category-row {
	padding: 0 15px;
	display: flex;
}

.main-categories .col-1-3 {
	width: 33.3333333333333333%;
	padding: 0 5px;
}
.category-box {
	height: 225px;
	border: 2px solid #D9D9D9FF;
	font-size: 16px;
	font-weight: 600;
}

.category-box--first {
	background-image: url('../images/box1_img.jpg');
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.category-box--second {
	background-image: url('../images/box2_img.jpg');
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.category-box--third {
	height: 250px;
	position: relative;
	padding: 20px;
	font-size: 14px;
	font-weight: 200;
	line-height: 1.3;
}

.category-box--third .box-panel-title {
	top: 25px;
	left: 20px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
}

.category-box--third .box-panel-main {
	position: relative;
	top: 50px;
}

.category-box--third .box-panel-sub {
	position: relative;
	top: 80px;
}

.box-panel {
	height: 60px;
	margin-top: auto;
	margin-bottom: 15px;
	position: relative;
}

.box-panel::before {
	content: '';
	width: 100%;
	height: 100%;
	opacity: .5;
	background: #F1F1F1;
	position: absolute;	
}

.box-panel-title {
	display: block;
	opacity: 1;
	position: absolute;
	left: 15px;
	top: 15px;
}

.box-panel-title::after {
	content: '';
	background: var(--color);
	width: 145px;
	height: 7px;
	position: absolute;
	top: 20px;
	left: -5px;
}

/*---------------------------------------------*/
/*---------------page-footer-------------------*/
/*---------------------------------------------*/


.page-footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.page-footer .container {
	position: relative;
	height: 50px;
}

.page-footer .copyright {
	display: inline-block;
    font-size: 16px;
    color: #9B9B9B;
    line-height:35px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.page-footer .social-icons {
	display: inline-block;
	position: absolute;
    right: 150px;
    bottom: 0;
}

.page-footer .footer-logo {
	display: inline-block;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #9B9B9B;
    line-height: 35px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.social-icons li {
    display: inline-block;
}

.social-icons li .social {
    width: 35px;
    height: 35px;
    text-indent: -999px;
    overflow: hidden;
    text-align: left;
    display: inline-block;
}

.social-icons .social-flickr {
    background: url(../images/flickr.png) no-repeat;
}

.social-icons .social-vimeo {
    background: url(../images/vimeo.png) no-repeat;
}

.social-icons .social-pinterest {
    background: url(../images/pinterest.png) no-repeat;
}

.social-icons .social-twitter {
    background: url(../images/twitter.png) no-repeat;
}